---
import GetIcon from "./Icons/GetIcon.astro";

const tipo: "diurna" | "nocturna" = Astro.props.tipo;
---

{
  tipo === "diurna" ? (
    <div class="flex items-center">
      <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
        <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#fffbeb_0%,#fbbf24_50%,#fffbeb_100%)]" />
        <div class="inline-flex gap-2 items-center justify-center w-full px-3 py-1 text-sm text-amber-800 bg-amber-100 rounded-full dark:bg-amber-900/20 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap font-medium">
          <GetIcon icon="Sol" />
          <slot />
        </div>
      </span>
    </div>
  ) : (
    <div class="flex items-center">
      <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
        <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#c4b5fd_0%,#312e81_50%,#c4b5fd_100%)]" />
        <div class="inline-flex gap-2 items-center justify-center w-full px-3 py-1 text-sm text-indigo-800 bg-indigo-100 rounded-full dark:bg-indigo-900/20 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap font-medium">
          <GetIcon icon="Luna" />
          <slot />
        </div>
      </span>
    </div>
  )
}
