<section id="Calculadora" class="container my-16 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">
    Calculadora de viajes
  </h3>
  <div class="w-full grid grid-cols-1 md:grid-cols-[3fr,2fr] gap-4 mt-16">
    <article
      id="map"
      class="w-full min-h-[calc(70dvh)] bg-sky-100/50 dark:bg-sky-900/20 animate-pulse rounded-lg shadow-xl"
    >
    </article>
    <form
      class="w-full h-full bg-sky-100/50 dark:bg-sky-900/20 rounded-lg p-4 shadow-xl"
      onsubmit="() => false"
    >
      <h4 class="text-xl font-semibold text-center dark:text-white">
        Introduce tu
        <span class="text-sky-500"> ruta </span>
      </h4>
      <div class="w-full h-full flex flex-col justify-center space-y-4">
        <label
          for="origen"
          class="text-sm font-medium text-black/80 dark:text-neutral-200/80"
        >
          Origen
        </label>
        <input
          id="origen"
          type="text"
          class="w-full outline-none bg-sky-900/20 border-1 border-blue-500 text-gray-900 text-sm rounded-lg focus:ring ring-blue-500 focus:border-blue-800 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Peralta"
        />
        <label
          for="destino"
          class="text-sm font-medium text-black/80 dark:text-neutral-200/80"
        >
          Destino
        </label>
        <input
          id="destino"
          type="text"
          class="w-full outline-none bg-sky-900/20 border-1 border-blue-500 text-gray-900 text-sm rounded-lg focus:ring ring-blue-500 focus:border-blue-800 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Pamplona"
        />
        <div class="flex flex-row justify-between">
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" />
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-sky-300 dark:peer-focus:ring-sky-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-sky-600"
            >
            </div>
            <span
              class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Tarifa nocturna</span
            >
          </label>
          <button
            id="btnCalcular"
            class="rounded-md w-28 h-10 p-2 text-sm bg-sky-500 text-white hover:scale-105 active:scale-95 transition-all duration-200 inline-flex items-center justify-center"
          >
            <svg
              id="spinner"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              aria-hidden="true"
              class="w-4 h-4 text-white animate-spin hidden"
              viewBox="0 0 100 101"
              ><path
                fill="#E5E7EB"
                d="M100 50.5908c0 27.6143-22.3858 50.0002-50 50.0002S0 78.2051 0 50.5908C0 22.9766 22.3858.59082 50 .59082s50 22.38578 50 49.99998Zm-90.91856 0C9.08144 73.1895 27.4013 91.5094 50 91.5094s40.9186-18.3199 40.9186-40.9186C90.9186 27.9921 72.5987 9.67226 50 9.67226c-22.5987 0-40.91856 18.31984-40.91856 40.91854Z"
              ></path><path
                fill="currentColor"
                d="M93.9676 39.0409c2.4254-.6371 3.8948-3.1293 3.0403-5.487-1.7147-4.7312-4.1369-9.1847-7.1912-13.2059-3.9715-5.2288-8.9341-9.6242-14.6043-12.93511-5.6702-3.31095-11.937-5.47264-18.4426-6.36165-5.0032-.683699-10.0722-.604397-15.0353.22749-2.4732.41455-3.9215 2.91905-3.2844 5.34453.6372 2.42548 3.1193 3.84844 5.6004 3.48384 3.8006-.55855 7.6686-.58021 11.4897-.058 5.324.7275 10.4526 2.4966 15.0929 5.2061 4.6404 2.7096 8.7016 6.3067 11.9518 10.5858 2.3326 3.0711 4.2148 6.4503 5.5962 10.0348.9019 2.34 3.361 3.8023 5.7865 3.1651Z"
              ></path></svg
            >
            <span id="textCalcular">Calcular</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  import {
    createMap,
    getAutoComplete,
    showOriginPoint,
    showDestinyPoint,
    calculateRoute,
  } from "../utils/Map.ts";
  import { showDangerToast } from "../utils/Toast";
  
  // Solo funcione la tecla enter cuando el foco este en el boton
  document.documentElement.addEventListener(
    "keypress",
    (e) =>
      e.key === "Enter" &&
      document.getElementById("btnCalcular") !== document.activeElement &&
      e.preventDefault()
  );

  createMap("map")
    .then((map) => {
      map = map;
      document.getElementById("map")?.classList.remove("animate-pulse");
      console.info("Map has been initialized");

      const origen = getAutoComplete("origen");
      const destino = getAutoComplete("destino");
      origen.bindTo("bounds", map);
      destino.bindTo("bounds", map);
      origen.addListener("place_changed", showOriginPoint);
      destino.addListener("place_changed", showDestinyPoint);
      document
        .getElementById("btnCalcular")
        ?.addEventListener("click", calculateRoute);
    })
    .catch((error) => {
      console.error("Error initializing map:", error);
      showDangerToast("Error al inicializar el mapa.");
    });
</script>
<style is:global>
  .dark .pac-container {
    background-color: #082f49;
    border-radius: 10px;
  }

  .pac-container {
    border-radius: 10px;
  }

  .dark .pac-item-query,
  .dark .pac-item {
    color: white;
  }

  .dark .pac-item-selected {
    background-color: #0c4a6e !important;
    color: white !important;
  }

  .dark .pac-item:hover {
    /* box-shadow: 2px 0 0 0 2px #0c4a6e; */
    background-color: #0c4a6e !important;
    color: white !important;
  }

  .pac-container:after {
    /* Remove 'Powered by GOOGLE' */
    background-image: none !important;
    height: 0px;
  }

  .pac-icon {
    /* Remove 'Powered by GOOGLE' */
    background-image: none !important;
    height: 0px;
    width: 0px;
  }
</style>
