<section id="Calculadora" class="container my-16 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">
    Calculadora de viajes
  </h3>
  <div class="w-full grid grid-cols-1 md:grid-cols-[3fr,2fr] gap-4 mt-16">
    <article
      id="map"
      class="w-full min-h-[calc(70dvh)] bg-sky-100/50 dark:bg-sky-900/20 animate-pulse rounded-lg shadow-xl"
    >
    </article>
    <form
      class="w-full h-full bg-sky-100/50 dark:bg-sky-900/20 rounded-lg p-4 shadow-xl"
      onsubmit="() => false"
    >
      <h4 class="text-xl font-semibold text-center dark:text-white">
        Introduce tus
        <span class="text-sky-500"> datos </span>
      </h4>
      <div class="w-full h-full flex flex-col justify-center space-y-4">
        <label
          for="origen"
          class="text-sm font-medium text-black/80 dark:text-neutral-200/80"
        >
          Origen
        </label>
        <input
          id="origen"
          type="text"
          class="w-full outline-none bg-sky-900/20 border-1 border-blue-500 text-gray-900 text-sm rounded-lg focus:ring ring-blue-500 focus:border-blue-800 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Peralta"
        />
        <label
          for="destino"
          class="text-sm font-medium text-black/80 dark:text-neutral-200/80"
        >
          Destino
        </label>
        <input
          id="destino"
          type="text"
          class="w-full outline-none bg-sky-900/20 border-1 border-blue-500 text-gray-900 text-sm rounded-lg focus:ring ring-blue-500 focus:border-blue-800 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Pamplona"
        />
        <div class="flex flex-row justify-between">
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" />
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-sky-300 dark:peer-focus:ring-sky-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-sky-600"
            >
            </div>
            <span
              class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Tarifa nocturna</span
            >
          </label>
          <button
            id="btnCalcular"
            class="rounded-md w-28 p-2 text-sm bg-sky-500 text-white hover:scale-105 active:scale-95 transition-all duration-200"
            >Calcular</button
          >
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  import { createMap, getAutoComplete, showOriginPoint, showDestinyPoint, calculateRoute } from "../utils/Map.ts";
  import { showDangerToast } from "../utils/Toast";
  import { DarkModeObserver } from "../utils/DarkModeObserver";
  import { DARK_MAP } from "../utils/MapConst"

  
  createMap("map")
    .then((map) => {
      document.getElementById("map")?.classList.remove("animate-pulse");
      console.info("Map has been initialized");

      // Toggle map dark mode
      new DarkModeObserver(() => map.setOptions({styles: DARK_MAP}), () => map.setOptions({styles: null}));

      const origen = getAutoComplete("origen");
      const destino = getAutoComplete("destino");
      origen.bindTo("bounds", map);
      destino.bindTo("bounds", map);
      origen.addListener('place_changed', showOriginPoint);
      destino.addListener('place_changed', showDestinyPoint);
      document.getElementById("btnCalcular")?.addEventListener("click", calculateRoute);
    })
    .catch((error) => {
      console.error("Error initializing map:", error);
      showDangerToast("Error al inicializar el mapa.");
    });
</script>
<style is:global>
  .dark .pac-container {
    background-color: #082f49;
    border-radius: 10px;
  }

  .pac-container {
    border-radius: 10px;
  }

  .dark .pac-item-query, .dark .pac-item {
    color: white;
  }

  .dark .pac-item-selected {
    background-color: #0c4a6e !important;
    color: white !important;
  }

  .dark .pac-item:hover {
    /* box-shadow: 2px 0 0 0 2px #0c4a6e; */
    background-color: #0c4a6e !important;
    color: white !important;
  }

  .pac-container:after {
    /* Remove 'Powered by GOOGLE' */
    background-image: none !important;
    height: 0px;
  }

  .pac-icon {
    /* Remove 'Powered by GOOGLE' */
    background-image: none !important;
    height: 0px;
    width: 0px;
  }
</style>
