---
interface Props {
    href: string;
    label: string;
    type: "tel" | "mailto";
}
const { href, label, type } = Astro.props;
---

<div class="flex flex-row hover:gap-5 h-14 group items-center">
  <a
    href={`${type}:${href}`}
    title={type === "mailto" ? "Enviar correo" : "Llamar por telefono"}
    class="flex flex-row group items-center h-full gap-3 dark:text-white bg-sky-100/50 dark:bg-sky-900/20 rounded-full px-8 py-auto shadow-md dark:hover:bg-sky-600/20 transition-all duration-300 dark:hover:scale-105 dark:hover:ring hover:bg-sky-200/20 hover:scale-105 hover:ring"
  >
    <slot />
    <p class="text-lg font-medium">{label}</p>
  </a>
  <button
    data-href={href}
    title="Copiar al portapapeles"
    class="copy-contact-button flex justify-center items-center dark:text-white bg-sky-100/50 dark:bg-sky-900/20 rounded-full ease-in-out shadow-md dark:hover:bg-sky-600/20 transition-all duration-300 dark:hover:scale-125 dark:hover:ring hover:bg-sky-200/20 hover:scale-125 hover:ring w-0 h-0 group-hover:w-14 group-hover:h-14 opacity-0 group-hover:opacity-100 -translate-x-10 group-hover:translate-x-0"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="text-transparent group-hover:text-inherit"
      ><path d="M0 0h24v24H0z" stroke="none"></path><path
        d="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2"
      ></path><path
        d="M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v0a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2z"
      ></path></svg
    >
  </button>
</div>
<script>
  import { showOkToast } from "../utils/Toast";

  const copyButtons = document.querySelectorAll(".copy-contact-button");
  copyButtons.forEach((copyButton) => {
    copyButton.addEventListener("click", (event) => {
      const href = (event.currentTarget as HTMLButtonElement)!.dataset.href;
      if (!href) return;
      navigator.clipboard.writeText(href);
      showOkToast("Se ha copiado al portapapeles");
    });
  });
</script>
