<section id="Contacto" class="container min-h-[calc(70dvh)] my-16 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">Contacto</h3>
  <div class="flex flex-col mx-auto items-center mt-8 gap-5">
    <h2 class="dark:text-white font-semibold text-2xl text-center">Teléfonos</h2>
    <div
      class="flex flex-row items-center gap-3 dark:text-white bg-sky-100/50 dark:bg-sky-900/20 rounded-full px-6 py-1 shadow-md dark:hover:bg-sky-600/20 transition-all duration-300 dark:hover:scale-105 dark:hover:ring hover:bg-sky-200/20 hover:scale-105 hover:ring"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        ><path stroke="none" d="M0 0h24v24H0z"></path><path
          d="M6 5a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V5zM11 4h2M12 17v.01"
        ></path></svg
      >
      <p class="text-sm">619461076</p>
    </div>
    <div
      class="flex flex-row items-center gap-3 dark:text-white bg-sky-100/50 dark:bg-sky-900/20 rounded-full px-6 py-1 shadow-md dark:hover:bg-sky-600/20 transition-all duration-300 dark:hover:scale-105 dark:hover:ring hover:bg-sky-200/20 hover:scale-105 hover:ring"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        ><path stroke="none" d="M0 0h24v24H0z"></path><path
          d="M5 12H3l9-9 9 9h-2M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7"
        ></path><path d="M9 21v-6a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v6"></path></svg
      >
      <p class="text-sm">948750185</p>
    </div>
  </div>
</section>
