---
import ContactForm from "./ContactForm.astro";
import ContactLink from "./ContactLink.astro";
import GetIcon from "./Icons/GetIcon.astro";
---

<section id="Contacto" class="container min-h-[calc(70vh)] py-24">
  <h3 class="text-4xl font-bold text-center dark:text-white">Contacto</h3>
  <h4 class="dark:text-white font-semibold text-2xl text-center mt-8">
    Teléfonos
  </h4>
  <article
    class="grid grid-cols-1 md:grid-cols-2 gap-6 justify-between items-center justify-items-center mt-8 w-full"
  >
    <ContactLink href="619461076" label="619 46 10 76" type="tel">
      <GetIcon icon="Telefono" />
    </ContactLink>
    <ContactLink href="948750185" label="948 75 01 85" type="tel">
      <GetIcon icon="Telefono" />
    </ContactLink>
  </article>
  <h4 class="dark:text-white font-semibold text-2xl text-center mt-8">
    Correo electrónico
  </h4>
  <article
    class="w-full grid grid-cols-1 gap-6 justify-center items-center justify-items-center mt-8"
  >
    <ContactLink
      href="taxi1peralta@gmail.com"
      label="taxi1peralta@gmail.com"
      type="mailto"
    >
      <GetIcon icon="Correo" />
    </ContactLink>
  </article>
  <h4 class="dark:text-white font-semibold text-2xl text-center mt-16">
    Formulario de contacto
  </h4>
  <ContactForm />
</section>
