---
import { routeList } from "../model/navbar";
import { Image } from "astro:assets";
import logoImage from "../assets/logo.jpg";
import ThemeButton from "./ThemeButton.astro";
import GetIcon from "./Icons/GetIcon.astro";

const { disableTheme } = Astro.props;
---

<dialog
  id="dialogMenu"
  class="w-full dark:bg-black m-0 max-w-full h-[100vh] max-h-[100vh] animate-open-right"
>
  <div class="flex flex-row justify-between place-items-center container py-3">
    <a class="inline-flex place-items-center p-2" href="./">
      <Image
        src={logoImage}
        alt="logo de taxi peralta"
        class="h-10 w-10 rounded-sm"
      />
      <p class="text-xl text-nowrap font-bold dark:text-white px-3">
        Taxi Peralta
      </p>
    </a>
    <div class="flex flex-row">
      {!disableTheme && <ThemeButton />}
      <button
        class="lg:hidden hover:bg-gray-100 dark:hover:bg-gray-100/10 p-3 rounded-md transition-colors duration-300 ease-in-out dark:text-white"
        id="dialogClose"
      >
      <GetIcon icon="Cruz" />
      </button>
    </div>
  </div>
  <div class="flex flex-col h-[calc(100vh-80px)]">
    {
      routeList.map(({ href, label, icon }, index) => (
        <div class="relative w-full h-16">
          <a
            href={href}
            class="nav-link flex gap-2 place-items-center w-full h-full font-medium text-md py-2 px-3
            dark:text-white hover:bg-gray-100 dark:hover:bg-gray-100/10 border-none ring-0 transition-colors duration-300"
          >
            <GetIcon icon={icon} /> 
            {label}
          </a>
          {index !== routeList.length - 1 && <hr class="w-full border-t-1 border-sky-500 absolute z-50" />}
        </div>
      ))
    }
  </div>
</dialog>
<script>
  const dialogMenu = document.getElementById("dialogMenu") as HTMLDialogElement;
  const dialogClose = document.getElementById("dialogClose");
  dialogClose!.addEventListener("click", () => {
    dialogMenu.close();
    document.body.style.overflow = "auto";
  });
  const navLinks = document.querySelectorAll('.nav-link');
  navLinks.forEach(e => e.addEventListener("click", () => {
    dialogMenu.close();
    document.body.style.overflow = "auto";
  }));
</script>
