---
import { enlaces } from "../model/enlaces";
---

<section id="Enlaces" class="container min-h-[calc(70dvh)] my-16 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">
    Enlaces de interes
  </h3>
  <div class="flex flex-wrap justify-center items-center p-4 mt-8 gap-4">
    {
      enlaces.map((e) => (
        <a
          class="flex flex-row items-center gap-3 dark:text-white bg-sky-100/50 dark:bg-sky-900/20 rounded-full px-6 py-1 shadow-md dark:hover:bg-sky-600/20 transition-all duration-300 dark:hover:scale-105 dark:hover:ring hover:bg-sky-200/20 hover:scale-105 hover:ring"
          href={e.href}
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="flex-none"
          >
            <>
              <path
                stroke="none"
                d="M0 0h30v30H0z"
                fill="none"
                stroke-width="1.25"
              />
              <path d="M15 7.5H7.5a2.5 2.5 0 0 0 -2.5 2.5v12.5a2.5 2.5 0 0 0 2.5 2.5h12.5a2.5 2.5 0 0 0 2.5 -2.5v-7.5" />
              <path d="m13.75 16.25 11.25 -11.25" />
              <path d="M18.75 5h6.25v6.25" />
            </>
          </svg>
          <p class="flex-grow">{e.label}</p>
        </a>
      ))
    }
  </div>
</section>
