---
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/galery/*.avif"
);
const importImages = Object.values(images);
---

<section id="Galeria" class="container min-h-[calc(70dvh)] my-16 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">Galeria</h3>
  <div class="w-full grid grid_cols-1 min-[374px]:grid-cols-3 gap-4 mt-16">
    {
      importImages.map((e, i) => (
        <button
          class:list={[
            "overflow-hidden rounded-xl",
            { "min-[374px]:col-span-2 ": i % 4 === 0 || i % 4 === 3 },
          ]}
        >
          <Image
            src={e()}
            alt={`Imagen de la galeria ${i}`}
            class="object-cover w-full h-full scale-110 hover:scale-100 transition-all duration-300 ease-in-out"
          />
        </button>
      ))
    }
  </div>
</section>
