<main
  class="container h-[calc(100dvh-80px)] grid grid-cols-2 gap-6 justify-center items-center px-6"
>
  <img
    src="/hero.webp"
    alt="Imagen de portada"
  />
  <article class="flex flex-col justify-center">
    <h1 class="text-5xl text-sky-500 font-bold">Jose Antonio Burdaspar</h1>
    <h2 class="text-white">Taxi Peralta</h2>
  </article>
</main>
