<a
  href="#Contacto"
  class="hidden relative md:inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-sky-500 border-2 border-sky-500 rounded-lg
   hover:text-white group hover:bg-gray-50"
>
  <span
    class="absolute left-0 block w-full h-0 transition-all bg-sky-500 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"
  ></span>
  <span class="relative font-bold">Contactar</span>
  <span
    class="relative w-0 translate-x-[100%] pl-0 opacity-0 transition-all duration-400 group-hover:w-5 group-hover:translate-x-0
    group-hover:pl-2 group-hover:opacity-100"
  >
    <span class="relative flex size-3">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-white opacity-75"
      ></span>
      <span class="relative inline-flex size-3 rounded-full bg-white"></span>
    </span>
  </span>
  <a
    href="#Contacto"
    class="inline-flex md:hidden relative items-center gap-2 px-12 py-3 overflow-hidden text-lg border-2 border-sky-500 bg-sky-500
  rounded-lg text-white"
  >
    <span class="relative font-bold">Contactar</span>
    <span class="relative flex size-3">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-white opacity-75"
      ></span>
      <span class="relative inline-flex size-3 rounded-full bg-white"></span>
    </span>
  </a>
</a>
