---
import InfoCard from "./InfoCard.astro";
import { informacion } from "../model/informacion.ts";
---

<section id="Informacion" class="container min-h-[calc(70dvw)] mb-8 scroll-my-28">
  <h3 class="text-4xl font-bold text-center dark:text-white">Información</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-16 justify-items-center">
    <InfoCard title="Información estandar" informacion={informacion.estandar} />
    <InfoCard title="Información adicional" informacion={informacion.adicional} />
  </div>
</section>
