---
import { routeList } from "../model/navbar";
import ThemeButton from "./ThemeButton.astro";

---

<nav
  class="sticky top-0 w-full p-3 flex flex-row justify-between place-items-center container"
>
  <div class="inline-flex place-items-center p-2">
    <img src="../../public/logo.jpg" alt="logo de taxi peralta" class="h-10" />
    <p class="text-xl text-nowrap font-bold dark:text-white px-3">Taxi Peralta</p>
  </div>
  <div
    class="hidden lg:flex flex-row justify-center w-full place-items-center gap-3"
  >
    {
      routeList.map(({ href, label }) => (
        <div class="transition-transform duration-75 group">
          <a
            href={href}
            class="font-medium text-sm rounded-md py-2 px-3 dark:text-white"
          >
            {label}
          </a>
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-500"></span>
        </div>
      ))
    }
  </div>
  <div>
    <ThemeButton />
    <button
      class="lg:hidden hover:ring-2 ring-sky-500 p-3 rounded-md transition-all duration-400"
      id="dialogTrigger"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        fill="none"
        class="dark:text-white"
        ><path
          fill="currentColor"
          fill-rule="evenodd"
          d="M1.5 3a.5.5 0 0 0 0 1h12a.5.5 0 0 0 0-1h-12ZM1 7.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5Zm0 4a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5Z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </div>
</nav>
<script>
  const dialogTrigger = document.getElementById("dialogTrigger");
  const dialog = document.getElementById("dialogMenu") as HTMLDialogElement;
  dialogTrigger!.addEventListener("click", () => {
    dialog.showModal();
  });
</script>