<section class="container text-gray-800 dark:text-white p-6">
    <h1 class="text-2xl font-bold mb-4">Política de <span class="text-sky-500">Privacidad</span></h1>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">1. Introducción</h2>
        <p class="text-pretty">Esta Política de Privacidad establece los términos en que Taxi Peralta usa y protege la información que es proporcionada por sus usuarios al momento de utilizar nuestro formulario de contacto web. Taxi Peralta se compromete a garantizar que su privacidad esté protegida. Cuando le pedimos llenar los campos de información personal con los cuales usted puede ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.</p>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">2. Información Recopilada</h2>
        <p class="text-pretty">Nuestro formulario de contacto recopila los siguientes datos personales:</p>
        <ul class="list-disc list-inside ml-4">
            <li><strong>Email:</strong> Utilizado para responder a las consultas y proporcionar información adicional solicitada por el usuario.</li>
            <li><strong>Teléfono:</strong> Utilizado para contactar directamente al usuario si es necesario y pertinente a la consulta realizada.</li>
            <li><strong>Mensaje:</strong> Información adicional proporcionada por el usuario para especificar su consulta o solicitud.</li>
        </ul>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">3. Uso de la Información Recopilada</h2>
        <p class="text-pretty">La información recopilada a través de nuestro formulario de contacto será utilizada únicamente con el propósito de:</p>
        <ul class="list-disc list-inside ml-4">
            <li>Contactar al usuario para responder a su consulta.</li>
            <li>Proveer información adicional que el usuario haya solicitado.</li>
            <li>Mantener un registro de las consultas recibidas para mejorar nuestros servicios y atención al cliente.</li>
        </ul>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">4. Protección de la Información</h2>
        <p class="text-pretty">Taxi Peralta está comprometida a asegurar que su información esté segura. Para evitar el acceso no autorizado o la divulgación, hemos implementado procedimientos físicos, electrónicos y administrativos adecuados para salvaguardar y proteger la información que recopilamos en línea.</p>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">5. Control de su Información Personal</h2>
        <p class="text-pretty">En cualquier momento, usted puede restringir la recopilación o el uso de su información personal que es proporcionada a través de nuestro formulario de contacto. Si previamente ha aceptado que utilicemos su información personal para ser contactado y desea revocar este consentimiento, puede hacerlo en cualquier momento enviándonos un correo electrónico a <a class="text-sky-500 hover:underline" href="mailto:taxi1peralta@gmail.com">taxi1peralta@gmail.com</a>.</p>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">6. Divulgación de la Información</h2>
        <p class="text-pretty">Taxi Peralta no venderá, distribuirá ni cederá su información personal a terceros a menos que tengamos su permiso o estemos obligados por ley a hacerlo.</p>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">7. Cambios en la Política de Privacidad</h2>
        <p class="text-pretty">Taxi Peralta se reserva el derecho de cambiar los términos de esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página y entrará en vigor inmediatamente después de su publicación.</p>
    </div>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-sky-500 mb-2">8. Contacto</h2>
        <p class="text-pretty">Si tiene alguna pregunta sobre esta Política de Privacidad o sobre cómo manejamos su información personal, por favor contáctenos a través de <a class="text-sky-500 hover:underline" href="mailto:taxi1peralta@gmail.com">taxi1peralta@gmail.com</a>.</p>
    </div>

    <p class="text-sm text-gray-500">Fecha de última actualización: 14 de julio de 2024</p>
</section>