---
export const prerender = true;
import { tarifa } from "../model/tarifas.ts";
import CalculadoraTarifa from "./CalculadoraTarifa.astro";
import Card from "./Card.astro";
import GetIcon from "./Icons/GetIcon.astro";
import TarifaCard from "./TarifaCard.astro";

const fakeTarifas = Array.from({ length: 6 });
---

<section id="Tarifas" class="container min-h-[calc(70vh)] pt-24">
  <h3 class="text-4xl font-bold text-center dark:text-white">Tarifas</h3>
  <p class="text-center text-base text-neutral-700/70 dark:text-neutral-200/80">
    Tarifas de transporte interurbano publicadas por el gobierno de Navarra.
  </p>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-16 justify-items-center"
  >
    {
      fakeTarifas.map((_, i) => (
        <Card class="w-full h-40 animate-pulse2" />
      ))
    }
  </div>
  <CalculadoraTarifa />
  <aside
    class="flex flex-col mt-16 gap-6 p-4 h-56 justify-center items-center rounded-lg bg-gradient-to-r from-blue-500 to-sky-500"
  >
    <h3 class="font-bold text-2xl md:text-4xl text-center text-white">
      ¡Tambien puedes usar la calculadora de viajes!
    </h3>
    <a
      href="./calculadora_viajes"
      class="group rounded-md border-white border-2 px-8 py-4 relative"
    >
      <div
        class="absolute h-full top-0 left-0 w-0 group-hover:w-full bg-white transition-all duration-500"
      >
      </div>
      <span
        class="relative text-white group-hover:text-sky-500 text-xl transition-all duration-500 flex flex-row gap-3 justify-center items-center"
        >
        <GetIcon icon="Calculadora" />
        Ir a la calculadora
      </span>
    </a>
  </aside>
</section>
