---
import { numToEur, capitalizeFirstLetter } from "../utils/Format.ts";
import AnimateBadge from "./AnimateBadge.astro";
import Card from "./Card.astro";

interface Props {
  cantidad: number;
  nombre: string;
  tipo: "nocturna + festivos" | "diurna";
}

const { cantidad, nombre, tipo } = Astro.props;

const dictNombreTitle: { [key: string]: string } = {
  kmRecorrido: "Km Recorrido",
  horaEspera: "Hora de espera",
  minimoPercepcion: "Mínimo de percepción",
};
const title = dictNombreTitle[nombre] ?? "No esta el valor en el diccionario";
const indiceUltimoEspacio = title.lastIndexOf(" ");
---

<Card class="w-full space-y-1">
  <AnimateBadge tipo={tipo}>
    {capitalizeFirstLetter(tipo)}
  </AnimateBadge>
  <h4 class="text-xl font-semibold text-black dark:text-white">
    {title.slice(0, indiceUltimoEspacio)}
    <span class="text-sky-500">
      {title.slice(indiceUltimoEspacio + 1)}
    </span>
  </h4>
  <p class="text-lg font-medium text-neutral-700/70 dark:text-neutral-200/80">
    {numToEur(cantidad)}
  </p>
</Card>
