---
import GetIcon from "./Icons/GetIcon.astro";
---

<button
  class="dark:hidden hover:bg-gray-100 dark:hover:bg-gray-100/10 p-3 rounded-md toggleBtn transition-colors duration-300 ease-in-out"
>
  <GetIcon icon="Luna" />
</button>
<button
  class="hidden dark:inline text-white hover:bg-gray-100 dark:hover:bg-gray-100/10 p-3 rounded-md toggleBtn transition-colors duration-300 ease-in-out"
>
  <GetIcon icon="Sol" />
</button>
<script>
  const toggleTheme = () => {
    document.documentElement.classList.toggle("dark");
    localStorage.theme = localStorage.theme === "dark" ? "light" : "dark";
  };
  document
    .querySelectorAll(".toggleBtn")
    .forEach((e) => e.addEventListener("click", toggleTheme));
</script>
